@charset "utf-8";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

#dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 300px;
  margin: auto;
  background: 
}

/* This style does not apply. */
#dialog::backdrop {
  background: rgba(0, 0, 0, 0.85);
}
